@font-face {
	font-family: 'aonagireisyo';
	src: url('./font/aonagireisyoshimo.otf') format('otf');
}

body {
     font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
}

body {
	min-width: 100vw;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size: 10px;
}

#op-anime{
	top:-120vh;
	color:#fff;
	background:#000;
	position:fixed;
	width:100vw;
	height:100vh;
	padding:20vh 0 0 10vw;
	z-index:100;
	font-size:10vw;
	font-weight:700;
	animation: op 6s;
}
@keyframes op{
	0%{
		top:0;
	}80%{
		top:0;
		opacity:1;
	}100%{
		top:0;
		opacity:0;
	}
}
.f{
	font-size:1.2em;
	animation: f 6s ease;
}
.ocus{
	animation: ocus 6s;
}
.fyf{
	position:absolute;

	animation: fyf 6s;
}
@keyframes f{
	0%{
		font-size:80em;
		opacity:0;
	}7%{
		font-size:5em;
		opacity:0;
	}15%{
		font-size:3em;
		opacity:1;
	}25%{
		font-size:3em;
		opacity:1;
	}35%{
		font-size:1.2em;
		opacity:1;
	}
}
@keyframes ocus{
	0%{
		letter-spacing:-7vw;
		opacity:0;
	}17%{
		letter-spacing:-7vw;
		opacity:0;
		font-size:18vw;
	}22%{
		letter-spacing:0px;
		opacity:1;
	}25%{
		letter-spacing:0px;
		opacity:1;
		font-size:18vw;

	}35%{
		font-size:10vw;

	}
}
@keyframes fyf{
	0%{
		opacity:0;
		transform:translateY(-20vw);
	}
	32%{
		opacity:0;
		transform:translateY(-20vw);
	}
	35%{
		opacity:0;
	}
	50%{
		opacity:1;
		transform:translateY(0);
	}
}



h3 {
	font-size: 2.2em;
}

header {
	position: relative;
}

.logo {
	display: inline-block;
	width: 100vw;
	padding: 10px 0;
}

.logo img {
	display: inline-block;
	height: 36px;
	width: auto;
	margin-left:20px;
	padding:10px 0 0 10px;
}

a {
	text-decoration: none;
}

i {
	color: #000;
}

.header-icon {
	position: absolute;
	top: 5px;
	display: block;
	margin: 10px;
	margin-left: calc(100vw - 160px);
	font-size:44px;
}

.fa-twitter-square {
	color: #1da1f3;
}

.fa-envelope-square {
	color: #323246;
}

.fa-line {
	color: #00b900;
}

.header-message {
	font-family: 'Noto Serif JP', serif;
	position: relative;
	width: 70vw;
	padding: 82px 8vw;
	font-size: 1.3em;
	font-weight: 400;
	color:#000;
	bottom: 20px;
	opacity: 0.75;
	max-width: 545px;
	line-height: 2em;
	letter-spacing:0.9px;
}

.header-message h1 {
	display: block;
	width: 60vw;
	font-size: 2.5em;
	font-weight:550;
	margin: 14px 0;
	line-height: 1.15em;

}

.account-group {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 96%;
	margin: 20px auto 0;
	box-sizing: border-box;
	padding: 0 3%;
}

.account-group p {
	float: left;
}

.account-group__btn {
	margin: 0 1%;
	width: 46%;
	margin-bottom: 15px;
}

.btn {
	display: block;
	color: #fff;
	text-align: center;
	font-weight: bold;
	border-radius: 4px;
}

.account-group__btn .btn {
	width: 100%;
	box-sizing: border-box;
	font-size: 2.1em;
	line-height: 60px;
	height: 69px;
}

.account_btn {
	background-color: #0854a2;
	border: 2px solid #1b428a;
	background: -moz-linear-gradient(top, #0854a2, #084e96);
	background: -webkit-linear-gradient(top, #0854a2, #084e96);
	background: linear-gradient(to bottom, #0854a2, #084e96);
}

.login_btn {
	background-color: #ffffff;
	border: 1px solid #0a275d;
	color: #0a275d;
}

.visitor {
	display: block;
	width: 94%;
	margin: 0 auto
}

.visitor .btn {
	height: 50px;
	display: block;
	font-size: 1.5em;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.01em;
	line-height: 2.0em;
	border: 1px solid #c7c7c7;
	border-radius: 4px;
	width: 100%;
	padding: 9px;
	margin: 0 auto;
	box-sizing: border-box;
	color: #0265cb;
}

.small {
	font-size: 0.8em;
}

#main p {
	line-height: 1.8em;
}

.intro {
	font-size: 1.35em;
	font-weight:500;
	line-height:1.75em;
}

@media screen and (max-width: 360px) {}

@media screen and (max-width: 370px) {
	.fa-twitter-square {
		font-size: 0;
		margin: 0;
	}
	.header-icon {
		margin-left: calc(100vw - 130px);
	}
}

@media screen and (max-width: 300px) {
	.fa-line {
		font-size: 0;
		margin: 0;
	}
	.header-icon {
		margin-left: calc(100vw - 50px);
	}
}

.major {
	position: relative;
	padding: 0.2em;
	font-size:22px;
	text-align:center;
}

.bg2 .major:after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 10em;
    height: 3px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #0854a2;
}

.bg .major:after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 10em;
    height: 2px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #fff;
}

.bg2 {
	padding-top: 20px;
}

.bg {
	padding: 10px 30px 30px 30px;
	background: #004296;
	color: #fff;
	font-size: 1.0em;
}

ul {
	padding: 0 20px;
}

li {
	line-height: 1.5em;
	padding: 5px 0;
}

.steps {
	position: relative;
}

.step {
	text-align: center;
	margin: 40px 0;
	min-height: 250px;
}

.stp, .stp-title {
	font-size: 1.4em !imporatnt;
}

.stp {
	display: inline-block;
	background: rgb(23, 46, 172);
	background: linear-gradient(45deg, rgba(23, 46, 172, 1) 0%, rgba(9, 9, 121, 1) 100%);
	color: white;
	font-weight: bold;
	font-size: 1.7em;
	border-radius: 50%;
	width: 25px;
	height: 21px;
	margin: 20px 3px;
	padding-top:3px;
	top:-3px;
}

.stp-title {
	display: inline-block;
	font-size: 2.0em;
	font-weight: 700;
	margin: 10px 0;
	padding-top:3px;
}

.stp-icons {
	position: relative;
	width: 2.5em;
	height: 1.3em;
	margin: 10px auto;
	font-size: 8em;
}

.stp1-1 {
	position: absolute;
	font-size: 0.85em;
	left: 0.5em;
	;
}

.stp1-2 {
	position: absolute;
	font-size: 1em;
}

.stp2-1 {
	position: absolute;
	left: 0;
}

.stp2-2 {
	position: absolute;
	font-size: 0.7em;
	left: 1.25em;
	top: 0;
}

.stp2-3 {
	position: absolute;
	right: 0;
}

.stp2-4 {
	position: absolute;
	left: 2.05em;
	top: 1.2em;
	font-size: 0.5em;
}

.stp3-1 {
	position: absolute;
	left: 0;
	font-size: 0.85em;
	top: 0.2em;
}

.stp3-2 {
	position: absolute;
	font-size: 0.7em;
	left: 1.2em;
	top: 0;
}

.stp3-3 {
	position: absolute;
	right: 0;
}

.stp3-4 {
	position: absolute;
	left: 1.9em;
	top: 1.3em;
	font-size: 0.5em;
}

.ex {
	padding-top: 10px;
	font-size: 1.2em;
}

.alt {
	border-top: solid #1e366a 1px;
	border-bottom: solid #1e366a 1px;
	padding: 0.5em 0 0.5em 1.5em;
}

.alt li {
	line-height: 1.5em;
	padding: 0.5em 0;
}

.bg2 {
	margin: 35px;
}

table {
	width: 100%;
}

table th {
	position: relative;
	vertical-align: top;
	text-align: left;
	font-size: 1.2em;
	width: 40%;
}

.line:after {
	display: block;
	content: "";
	width: 3em;
	height: 1.3px;
	background-color: #ffffff;
	position: absolute;
	top: calc(50% - 1px);
	right: 2em;
}

table td {
	text-align: left;
	width: 85%;
	font-size: 1.2em;
}

table a {
	color: #fff;
	text-decoration: underline;
}

.copyright {
	text-align: center;
}

@media screen and (min-width:900px) {
	body {
		font-size: 14px;
	}
	header {
		width: 100vw;
	}
	.logo {
		border: none;
		padding: 30px;
	}
	.logo img {
		height: 50px;
	}
	.header-icon {
		top: 60px;
		left: calc(90vw + 20px);
		width: 50px;
		margin: 0;
	}
	.header-icon a i {
		font-size: 50px;
		margin-bottom: 20px;
	}
	.account-group {
		position: absolute;
		top: 120px;
		left: calc(70vw - 165px);
		width: 350px;
		margin-top: 30px;
	}
	.account {
		width: 100%;
	}
	.account .btn {
		height: 150px;
		line-height: 145px;
		font-size: 2em;
	}
	.login .btn {
		height: 85px;
		line-height: 80px;
		font-size: 1.7em
	}
	.login {
		width: 100%;
	}
	.visitor {
		width: 100%;
	}
	.visitor .btn {
		height: 85px;
		line-height: 60px;
		font-size: 1.4em;
		font-weight: 700;
		border: 1px solid #0a275d;
	}
	.header-message {
		padding-top: 100px;
		font-size: 1.4em;
		width: 380px;
		margin-left: calc(20vw - 190px);
	}
	.header-message h1 {
		width: 380px;
	}
	#main p {
		line-height: 1.5em;
	}
	.intro {
		margin: 0 100px;
	}
		.intro-g h3 {
			font-size: 2.4em;
		}
		.major{
			margin-left:22px;
			}
		.sec2 .major:after {
			background: none;
			text-align: center;
		}
		.sec2 {
			overflow: hidden;
			width: 100%;
			text-align: center;
			padding: 0;
		}
		.sec2 li {
			float: left;
			width: 30%;
			border-bottom: none;
			border-left: solid 1px #698CFF;
			height: 80px;
			margin-bottom: 40px;
			margin-left: 2%;
		}
		.sec2 li p {
			padding-left: 110px;
			font-size: 0.6em;
		}
		.steps {
			overflow: hidden;
		}
		.step {
			float: left;
			width: 33%;
			font-size: 0.7em;
		}
		.step p .btn {
			height: 50px;
			width: 70%;
			line-height: 26px;
			font-size: 1.8em;
		}
		.ex {
			font-size: 1.4em;
		}
		table {
			padding-left: 20%;
			width: 80%;
		}
	}
	@media screen and (min-width:1000px) {
		.sec2 li p {
			font-size: 0.7em;
		}
		.step {
			font-size: 0.8em;
		}
	}