body{
 line-height:26px;
  font-size:13px;
}
img{
  display:inline-block;
  position:relative;
  float:left;
}

.sorede{
  display:block;
}
span{
  font-size:16px;
  font-weight:700;
}
.slogan{
  margin:0 6px;
  font-size:22px;
  font-weight:700;
  color:#6e55b9;
  letter-spacing:0.3px;
}
@media(min-width:800px){.centering{text-align:left;}img{height:150px; margin:0 80px 0 180px;}.fuse{width:300px;height:auto;padding-left:40px;}.iincho{padding-bottom:40px;margin-left:400px}}
@media(max-width:800px){img{width:50vw;margin-right:20vw;margin-left:20vw;float:none;}}
@media(max-width:550px){img{width:60%;margin:0 20% 5% 20%}}
@media(max-width:470px){img{width:100%;margin:0}}
.sorede-pic{
  margin-top:-20px;
}
.sorede-pic { 
  animation: translate 4s; 
  animation-iteration-count: infinite; 
  -webkit-animation: translate 4s; /* Safari & Chrome */
  -webkit-animation-iteration-count: infinite; 
}  
@keyframes translate { 
  0%   { transform: scale(1.0,1.0);    } 
  40%   { transform: scale(1.0,1.0);    } 
  50%   { transform: scale(1.02,1.02);    } 
  60%   { transform: scale(1.0,1.0);    } 
  100%  { transform: scale(1.0,1.0);    } 
} 
@-webkit-keyframes translate { 
  0%   { -webkit-transform:  translate(0px, 0px) ;   } 
  25%   { -webkit-transform:  translate(300px, 0px);   }
  75%   { -webkit-transform:  translate(-300px, 0px);   }
  100%  { -webkit-transform:  translate(0px, 0px);   } 
} 