.drawer-contents{
  padding-left:30px;
}

ul{
  padding:0;
}
dl ul li{
  list-style:none;
  margin-left:20px;
  line-height:26px;
  font-weight:500;
}
dl ul li:before{
  content:"";
  width:12px;
  height:4px;
  display:inline-block; 
  border-radius:2px;
  background:#6bd635;
  position:relative;
  left:-8px;
  top:-3px;
}
dd{
  margin:16px 0;
}
dt{
  font-weight:bolder;
  font-size:20px;
  margin-left:10px;
}
dt:before{
  content:"";
  width:5px;
  height:18px;
  display:inline-block; 
  background:#f97e14;
  position:relative;
  border-radius:2px;
  left:-10px;
  top:2px;
}

.attention li{
  font-size:13px;
  padding:10px 0;
}
@media(min-width:64rem){
.drawer-contents{
  padding:0 100px;
}
}
@media(min-width:800px){
.gaiyou1{
  display: -webkit-flex;
  display;flex;
}
img{
  width:230px;
  height:250px;
  position:relative;
}
}
@media(max-width:800px){
img{
  width:100%;
  height:auto;
  margin:0;
  display:block;
}
}